#==============================================================================
# available on frontend "REACT_APP_*"
REACT_APP_VERSION="v1.0.0"

REACT_APP_HOST="https://frenchbench.org"
REACT_APP_API_BASE_URL="/api"

REACT_APP_WS_HOST="wss://frenchbench.org"
REACT_APP_WS_BASE_URL="/ws"

REACT_APP_CDN="https://frenchbench.s3.eu-west-2.amazonaws.com"

#==============================================================================
HTTP_PORT=3000
#==============================================================================
# for proxying '/api'
API_HOST="http://localhost:12000"
API_BASE_URL="/api"

#==============================================================================
PGHOST="127.0.0.1"
PGUSER="frenchbench"
PGDATABASE="frenchbench"
PGPASSWORD="password-here"
PGPORT=5432

#==============================================================================
JWT_SECRET="jwt-secret-here"

#==============================================================================
GEO_LAT_DELTA="0.01"
GEO_LON_DELTA="0.01"

#==============================================================================
AWS_S3_CLIENT_ID="client-id"
AWS_S3_CLIENT_SECRET="secret"
AWS_S3_BUCKET="frenchbench"
AWS_S3_REGION="eu-west-2"
