/* good old fashion CSS: it just works !!! */
.fb-card-community .ui.card,
.fb-card-community .ui.cards > .ui.card,
.fb-card-help-needed .ui.card,
.fb-card-help-needed .ui.cards > .ui.card,
.fb-card-help-provided .ui.card,
.fb-card-help-provided .ui.cards > .ui.card,
.fb-post-summary .ui.card,
.fb-post-summary .ui.cards > .ui.card
{
  width: 100%;
}

.fb-page .ui.card,
.fb-page .ui.cards > .ui.card
{
  width: 100%;
}

div.fb-loading {
  align-items: center;
  display: flex;
  height: 50vh;
  justify-content: center;
}
