/* good old fashion CSS: it just works !!! */
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
div#root {
  margin: 2px;
}
a,
a:active,
a:visited {
  color: black;
}
a:hover {
  color: purple;
}

div.fb-page {
  margin: 5em auto;
  width: 100%;
}

.fb-card-community .ui.card,
.fb-card-community .ui.cards > .ui.card,
.fb-card-help-needed .ui.card,
.fb-card-help-needed .ui.cards > .ui.card,
.fb-card-help-provided .ui.card,
.fb-card-help-provided .ui.cards > .ui.card,
.fb-post-summary .ui.card,
.fb-post-summary .ui.cards > .ui.card,
.fb-advert-summary .ui.card,
.fb-advert-summary .ui.cards > .ui.card,
.fb-card-idea .ui.card,
.fb-card-idea .ui.cards > .ui.card
{
  /*width: 100%;*/
}

.fb-card-community .content .description .fb-desc-row {
  margin-bottom: 4px;
}

.fb-card-community .ui.card .description img,
.fb-card-help-needed .ui.card .image img,
.fb-card-help-provided .ui.card .image img,
.fb-post-summary .ui.card .image img,
.fb-advert-summary .ui.card .image img,
.fb-post-idea .ui.card .image img
{
  width: 100%;
}

.fb-page .ui.card,
.fb-page .ui.cards > .ui.card
{
  width: 100%;
}

.ui.segment.fb-rand-img {
  padding: 0;
  margin: 0;
}
.ui.segment.fb-rand-img .image img {
  width: 100%;
  margin: 0;
  padding: 0
}

div.fb-loading {
  align-items: center;
  display: flex;
  height: 50vh;
  justify-content: center;
}

div.fb-post-list,
div.fb-advert-list
{
  padding: 0;
  margin: 0;
}

div.fb-post-list-item,
div.fb-advert-list-item
{
  margin-bottom: 5px;
}

div.fb-post-list-item div.image img,
div.fb-advert-list-item div.image img
{
  width: 100%;
}

div.fb-post-list-item .description img,
div.fb-advert-list-item .description img
{
  width: 100%;
}

div.fb-post-summary .description img,
div.fb-advert-summary .description img
{
  width: 100%;
}

div.fb-post-list-item .ui.card .meta,
div.fb-post-list-item .ui.cards>.card .meta,
div.fb-advert-list-item .ui.card .meta,
div.fb-advert-list-item .ui.cards>.card .meta
{
  font-size: 0.8em;
}

div.fb-footer-container {
  margin-top: 10px;
  border-top: 1px solid gray;
}

div.fb-footer-container div {
  font-size: 0.8em;
  color: gray;
}

div.fb-tags {
  margin-top: 6px;
  margin-bottom: 6px;
}

div.fb-load-more {
  margin: 3px;
  text-align: center;
}
