body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.hidden {
  display: none;
}
.z1 {
  z-index: 1;
}
div#root {
  margin: 0;
  padding: 0;
}
a,
a:active,
a:visited {
  color: black;
}
a:hover {
  color: purple;
}

/* semantic UI custom styles ------------------------------------- */
.ui.segment a {
  text-decoration: underline;
  color: purple;
}
.ui.secondary.menu {
  margin-bottom: 2px;
}
.ui.segment.fb-rand-img {
  padding: 0;
  margin: 0;
}
.ui.segment.fb-rand-img .image img {
  width: 100%;
  margin: 0;
  padding: 0
}


/* FB custom styles ------------------------------------- */

div.fb-layout {
  margin: 0;
  padding: 0;
}

div.fb-page {
  padding-top: 4em;
  width: 100%;
  height: 100%;
}

div.fb-layout-public div.fb-page {
  padding-left: 1em;
  padding-right: 1em;
}

/* avoid padding around secondary app menu */
div.fb-layout-protected div.fb-page div.fb-content {
  padding-left: 1em;
  padding-right: 1em;
}

div.fb-layout-protected div.fb-page-app-index div.fb-content { /* contains map */
  padding-left: 0;  /* undo padding */
  padding-right: 0; /* undo padding */
  width: 100%;
  min-width: 350px;
  height: calc(100vh - 100px);
  min-height: 350px;
  margin: 0;
  position: relative;
}

div.fb-layout-protected div.fb-page-app-posts form {
  margin-bottom: 1em;
}

.fb-card-community .content .description .fb-desc-row {
  margin-bottom: 4px;
}

.fb-card-community .ui.card .description img,
.fb-card-help-needed .ui.card .image img,
.fb-card-help-provided .ui.card .image img,
.fb-post-summary .ui.card .image img,
.fb-advert-summary .ui.card .image img,
.fb-post-idea .ui.card .image img
{
  width: 100%;
}

.fb-page .ui.card,
.fb-page .ui.cards > .ui.card
{
  width: 100%;
}

div.fb-loading {
  align-items: center;
  display: flex;
  height: 50vh;
  justify-content: center;
}

div.fb-post-list,
div.fb-advert-list
{
  padding: 0;
  margin: 0;
}

div.fb-post-list-item,
div.fb-advert-list-item
{
  margin-bottom: 5px;
}

div.fb-post-list-item div.image img,
div.fb-advert-list-item div.image img
{
  width: 100%;
}

div.fb-post-list-item .description img,
div.fb-advert-list-item .description img
{
  width: 100%;
}

div.fb-post-summary .description img,
div.fb-advert-summary .description img
{
  width: 100%;
}

div.fb-post-list-item .ui.card .meta,
div.fb-post-list-item .ui.cards>.card .meta,
div.fb-advert-list-item .ui.card .meta,
div.fb-advert-list-item .ui.cards>.card .meta
{
  font-size: 0.8em;
}

div.fb-footer-container {
  margin-top: 10px;
  border-top: 1px solid gray;
}

div.fb-footer-container div {
  font-size: 0.8em;
  color: gray;
}

div.fb-tags {
  margin-top: 6px;
  margin-bottom: 6px;
}

div.fb-load-more {
  margin: 3px;
  text-align: center;
}

.fb-rand-img p {
  text-align: center;
}

/* contained by div.fb-page-app-index */
div.fb-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

div.fb-map svg circle {
  stroke-width: 0.17em;
}

div.fb-map svg circle.small {
  fill: red;
  stroke: white;
}

div.fb-map svg circle.big {
  fill: blue;
  stroke: #0F1C3F;
}

div.fb-map .mapboxgl-marker .map-marker-icon-advert {
  cursor: pointer;
}

div.map-advert-info {
  max-width: 300px;
  padding-top: 5px;
}
div.map-advert-info div.fb-advert-list-item .ui.card {
  border: 0;
  border-radius: 0%;
  box-shadow: none;
}

div.fb-user-profile-info-row {
  text-align: left;
}
div.fb-user-profile-info-row span.fb-user-profile-info-view {
  min-width: 170px;
  display: inline-block;
  text-align: left;
}
div.fb-profile a         { color: purple; }
div.fb-profile a:active  { color: purple; }
div.fb-profile a:visited { color: purple; }
div.fb-profile a:hover   { color: blue; }
